*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.fondo{
    background:#2b3035;
}

.formulario{
<<<<<<< HEAD
    background-color: #2b3035;
    color: #fff;
}
=======
    background-color: #ecd99b;
    color:rgb(235, 233, 233);
}

>>>>>>> formulario
